@mixin py($base: 3rem) {
  padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));
  padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
    padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
    padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-top: calc(#{$base} - calc(#{$base} / 2));
    padding-bottom: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-top: $base;
    padding-bottom: $base;
  }
}

@mixin pt($base: 3rem) {
  padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-top: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-top: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-top: $base;
  }
}

@mixin pb($base: 3rem) {
  padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-bottom: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $base;
  }
}

@mixin px($base: 3rem) {
  padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));
  padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
    padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
    padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-left: calc(#{$base} - calc(#{$base} / 2));
    padding-right: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-left: $base;
    padding-right: $base;
  }
}

@mixin pl($base: 3rem) {
  padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-left: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-left: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-left: $base;
  }
}

@mixin pr($base: 3rem) {
  padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    padding-right: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    padding-right: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    padding-right: $base;
  }
}

@mixin left($base: 3rem) {
  left: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    left: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    left: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    left: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    left: $base;
  }
}

@mixin right($base: 3rem) {
  right: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    right: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    right: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    right: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    right: $base;
  }
}

@mixin top($base: 3rem) {
  top: calc(#{$base} - calc((#{$base} / 2) + (0.2 * #{$base})));

  @include media-breakpoint-up(sm) {
    top: calc(#{$base} - calc((#{$base} / 2) + (0.15 * #{$base})));
  }

  @include media-breakpoint-up(md) {
    top: calc(#{$base} - calc((#{$base} / 2) + (0.1 * #{$base})));
  }

  @include media-breakpoint-up(lg) {
    top: calc(#{$base} - calc(#{$base} / 2));
  }

  @include media-breakpoint-up(xl) {
    top: $base;
  }
}

@mixin footer-height($font-size: 1rem, $line-height: 1, $py: 1rem) {
  $footer-text-height: calc(0.9 * #{$font-size} * #{$line-height});
  $footer-height: calc(calc(#{$footer-text-height} * 2) + calc(#{$py} * 2));
  $footer-height-md: calc(#{$footer-text-height} + calc(#{$py} * 2));

  height: $footer-height;

  &.footer-hide {
    bottom: calc(#{$footer-height} * -1);
  }

  @media (min-width: 581px) {
    height: $footer-height-md;

    &.footer-hide {
      bottom: calc(#{$footer-height-md} * -1);
    }
  }
}
