@import "../scss/variables";
@import "../scss/mixins";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

#footer {
  background: transparent;
  position: fixed;
  bottom: 0;
  padding-top: $footer-py;
  padding-bottom: $footer-py;
  @include px(3rem);
  @include footer-height($font-size-body, $line-height-base, $footer-py);
  // .footer-hide definition in mixin
  transition: bottom 0.1s ease-in;

  &.footer-show {
    bottom: 0;
  }
}
