@import "variables";
@import "mixins";
@import "helpers";
@import "bootstrap-custom";

/* =======================
    GLOBAL
======================= */

body {
  // font-family: $font-family-lecken;
  font-weight: $font-weight-body;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  color: $dark;

  @include media-breakpoint-up(md) {
    letter-spacing: $letter-spacing-base-md;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-title;
}

// h1 {
//   @include font-size-responsive-high($font-size-h1);
// }

// h2 {
//   @include font-size-responsive-high($font-size-h2);
// }

// h3 {
//   @include font-size-responsive-low($font-size-md);
// }

// p {
//   @include font-size-responsive-base($font-size-body);
// }

a {
  color: $link-color;

  &:hover {
    color: rgba($blue, 0.5);
    text-decoration: none;
  }

  &.active {
    color: $light;
    background: $link-color;
  }
}

// quick fix
li {
  &.active {
    a {
      color: $light;
      background: $link-color;
    }
  }
}

/* =======================
    LAYOUT
======================= */

.layout {
  .col-nav {
    @include media-breakpoint-up(xl) {
      height: 100vh;
      max-width: $col-nav-max-width-xl;
    }
    @include media-breakpoint-up(xxl) {
      max-width: $col-nav-max-width-xxl;
    }
  }

  .col-main {
    @include media-breakpoint-up(xl) {
      min-width: calc(100% - #{$col-nav-max-width-xl});
    }

    @include media-breakpoint-up(xxl) {
      min-width: calc(100% - #{$col-nav-max-width-xxl});
    }
  }
}

.main {
  padding-top: 2.5rem;
  padding-bottom: $main-pb;
  @include padding-screen-l();

  @include media-breakpoint-up(xl) {
    padding-bottom: $main-pb-lg;
  }
}

// To restore the padding right missing from main
.pr-main {
  @include padding-screen-r();
}

#hero {
  height: 100vh;

  #hero-brand {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 7.2rem;
    animation: all 2s ease-in-out;

    &.scale-up {
      transform: scale(1);
      transform-origin: left;
      opacity: 1;
    }

    &.scale-down {
      transform: scale(0.25);
      transform-origin: left;
      opacity: 0;
    }
  }
}

#work {
  margin-bottom: 8rem;
}

#events {
  // background: $blue;
  height: 200vh;
}

.back {
  height: 20px;
  width: 20px;
}
