@import "variables";
@import "bootstrap-custom";
@import "helpers";
@import "mixins";
@import "../../node_modules/rfs/scss";

/* =======================
    GLOBAL
======================= */

html {
  // scroll-behavior: smooth;
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-body;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  @include media-breakpoint-up(md) {
    letter-spacing: $letter-spacing-base-md;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-title;
  // font-family: $font-family-title;
}

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2);
}

h3 {
  @include font-size($font-size-h3);
}

p {
  @include font-size($font-size-body);
}

// reset
a {
  &:hover {
    text-decoration: underline;
  }
}

/* =======================
    LAYOUT
======================= */

.layout {
  z-index: 1;
  position: relative;

  .col-nav {
    @include media-breakpoint-up(xl) {
      height: 100vh;
      max-width: $col-nav-max-width-xl;
    }
    @include media-breakpoint-up(xxl) {
      max-width: $col-nav-max-width-xxl;
    }
  }

  .col-main {
    @include media-breakpoint-up(xl) {
      min-width: calc(100% - #{$col-nav-max-width-xl});
    }

    @include media-breakpoint-up(xxl) {
      min-width: calc(100% - #{$col-nav-max-width-xxl});
    }
  }
}

.main {
  padding-top: $base-layout-pt + 3rem;
  padding-bottom: $main-pb;
  @include pl($base-layout-px);
  @include pr($base-layout-px);

  @include media-breakpoint-up(xl) {
    padding-top: $base-layout-pt;
    padding-bottom: $main-pb-xl;
  }
}

.theme-dark {
  color: $light;
  background-color: $black;

  a {
    color: $light;

    &:hover {
      color: $white !important;
    }

    &.active {
      color: $white;
    }
  }

  button {
    fill: $white;
    background-color: $black;
  }
}

.theme-light {
  color: $dark;
  background-color: $light;

  a {
    color: $link-color;

    &:hover {
      color: $blue !important;
    }

    &.active {
      color: $light;
      background: $link-color;
    }
  }

  button {
    fill: $dark;
    background-color: $light;
  }
}

/* =======================
    SECTIONS
======================= */

#hero {
  z-index: 2;
  height: 100vh;

  #hero-brand {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    @include font-size(7.2rem);
    font-family: $font-family-title;
    transform: translate(-50%, -70%);
    transition: opacity 0.15s ease-out, text-shadow 1s ease-out;
    opacity: 1;

    &:hover {
      text-shadow: 0px 0px 12px $white, 0px 0px 4px $white;
    }

    &.scale-up {
      display: block;
      opacity: 1;
    }

    &.scale-down {
      display: none;
      opacity: 0;
    }
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.work {
  margin-bottom: 4rem;

  .work-header {
    margin-bottom: 2rem;
  }

  .work-text {
    margin-bottom: 3rem;
  }
}

#work {
  padding-top: 3rem;
  margin-bottom: 8rem;

  // on index page
  .work {
    min-height: 100vh;

    &:last-child() {
      min-height: auto;
      margin-bottom: 8rem;
    }

    .work-description {
      white-space: pre-line;
    }
  }
}

#events {
  .event {
    width: 66%;
    margin-left: 0;
  }
}

.event {
  .event-header {
    margin-bottom: 2rem;
  }
}

.back,
.to-top {
  z-index: 10;
  position: fixed;
  height: $nav-arrow-size;
  width: $nav-arrow-size;
  border: 0;
}

.top {
  top: $base-layout-pt;
}

.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// pre-calculated values of cumputed footer height
.bottom {
  bottom: 5.25rem;

  @media (min-width: 581px) {
    bottom: 3.625rem;
  }
}

.left {
  @include left($base-layout-px);
}

.right {
  @include right($base-layout-px);
}

#about {
  position: relative;

  .col-pic {
    @include media-breakpoint-up(xl) {
      max-width: 300px;
    }
  }

  .col-text {
    @include media-breakpoint-up(xl) {
      min-width: calc(100% - 300px);
    }
  }
}
