@import "variables";
@import "mixins";
@import "bootstrap-custom";
@import "helpers";
@import "../../node_modules/rfs/scss";

/* =======================
    GLOBAL
======================= */

body {
  font-family: $font-family-body;
  font-weight: $font-weight-body;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  @include media-breakpoint-up(md) {
    letter-spacing: $letter-spacing-base-md;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-title;
  // font-family: $font-family-title;
}

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2);
}

h3 {
  @include font-size($font-size-h3);
}

p {
  @include font-size($font-size-body);
}

// reset
a {
  &:hover {
    text-decoration: none;
  }
}

/* =======================
    LAYOUT
======================= */

.layout {
  .col-nav {
    @include media-breakpoint-up(xl) {
      height: 100vh;
      max-width: $col-nav-max-width-xl;
    }
    @include media-breakpoint-up(xxl) {
      max-width: $col-nav-max-width-xxl;
    }
  }

  .col-main {
    @include media-breakpoint-up(xl) {
      min-width: calc(100% - #{$col-nav-max-width-xl});
    }

    @include media-breakpoint-up(xxl) {
      min-width: calc(100% - #{$col-nav-max-width-xxl});
    }
  }
}

.main {
  padding-top: 2.5rem;
  padding-bottom: $main-pb;
  @include padding-screen-l();
  @include padding-screen-r();

  @include media-breakpoint-up(xl) {
    padding-bottom: $main-pb-lg;
  }
}

.theme-dark {
  color: $light;
  background-color: $black;

  a {
    color: $light;

    &:hover {
      color: $white !important;
    }

    &.active {
      color: $white;
    }
  }
}

.theme-light {
  color: $dark;
  background-color: $light;

  a {
    color: $link-color;

    &:hover {
      color: $blue !important;
    }

    &.active {
      color: $light;
      background: $link-color;
    }
  }
}

/* =======================
    SECTIONS
======================= */

#hero {
  height: 100vh;

  #hero-brand {
    position: fixed;
    top: 1rem;
    left: 1rem;
    animation: opacity 2s ease-in-out;
    @include font-size(7.2rem);

    &.scale-up {
      // transform: scale(1);
      // transform-origin: left;
      opacity: 1;
    }

    &.scale-down {
      // transform: scale(0.25);
      // transform-origin: left;
      opacity: 0;
    }
  }
}

#work {
  padding-top: 3rem;
  margin-bottom: 8rem;
}

.work {
  margin-bottom: 4rem;

  .work-header {
    margin-bottom: 2rem;
  }

  .work-text {
    margin-bottom: 3rem;
  }
}

#events {
  // background: $blue;
  height: 200vh;
}

.back {
  height: 20px;
  width: 20px;
}
