@import "../scss/variables";
@import "../scss/mixins";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/rfs/scss";

.navbar {
  z-index: 1010;
  position: fixed !important;
  width: 100%;
  padding-top: $navbar-py;
  padding-bottom: $navbar-py;
  background-color: $white;
  @include padding-screen-x();

  @include media-breakpoint-up(md) {
    padding-top: $navbar-py-md;
    padding-bottom: $navbar-py-md;
  }

  @include media-breakpoint-up(xl) {
    display: block;
    width: auto;
    padding-top: $navbar-py-lg;
    padding-bottom: $navbar-py-lg;
    padding-right: 0; // to allow content bleed
    // to reset setting for faded bg
    background-color: transparent;
  }

  .navbar-brand {
    font-weight: 600;
    font-size: 1.8rem;
    // margin-bottom: 8rem;
  }

  .navbar-toggler {
    @include font-size($font-size-xl);
    border: none;
    padding: 0.8rem 0.4rem 0.4rem 0.4rem;
    color: $navbar-toggler-color;
  }

  .nav-list {
    display: block;
    width: 100%;
    padding-top: $logo-mb - 0.5rem;

    @include media-breakpoint-up(md) {
      padding-top: $logo-mb - 0.3rem;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 0;
    }

    .nav-item {
      .nav-link {
        @include font-size($font-size-lg);
        font-weight: $font-weight-title;
        letter-spacing: $letter-spacing-sm;
        line-height: 1.5;
        display: inline;
        padding: 0;
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      &::after {
        content: none;
      }
    }

    .dropdown-menu {
      position: static !important;
      padding: 0 0 1rem 1.2rem;
      border: none;
      border-radius: 0px;
      margin: 0;

      .dropdown-item {
        padding: 0;

        &:hover {
          background-color: inherit;
        }
      }
    }
  }

  &.nav-max {
    @include media-breakpoint-up(xl) {
      max-width: 365px;
    }
  }
}
