@import "../scss/variables";
@import "../scss/mixins";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/rfs/scss";

.navbar {
  z-index: 1010;
  position: fixed !important;
  width: 100%;
  background: linear-gradient(rgba($black, 0.8) 25%, rgba($black, 0.6) 50%, rgba($black, 0.4) 75%, transparent);
  @include py(2.5rem);
  @include px($base-layout-px);

  @include media-breakpoint-up(xl) {
    display: block;
    width: auto;
    height: 100%;
    padding-right: 0; // to allow content bleed
    background: transparent;
  }

  .navbar-brand {
    font-family: $font-family-title;
    @include font-size($font-size-lg);
    font-weight: 600;
    // transition: opacity 0.1s ease-out;
  }

  .navbar-toggler {
    @include font-size($font-size-lg);
    border: none;
    padding: 0.8rem 0.4rem 0.4rem 0.4rem;
    color: $light;
  }

  .nav-list {
    display: block;
    width: 100%;
    padding-top: $logo-mb - 0.5rem;

    @include media-breakpoint-up(md) {
      padding-top: $logo-mb - 0.3rem;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 0;
    }

    .nav-item {
      .nav-link {
        position: absolute;
        @include font-size($font-size-lg);
        font-family: $font-family-title;
        font-weight: $font-weight-title;
        letter-spacing: $letter-spacing-sm;
        line-height: 1.5;
        display: inline;
        padding: 0;
        transition: opacity 0.3s ease-out;
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      &::after {
        content: none;
      }
    }

    .dropdown-menu {
      position: static !important;
      padding: 0 0 1rem 1.2rem;
      border: none;
      border-radius: 0px;
      margin: 0;

      .dropdown-item {
        padding: 0;

        &:hover {
          background-color: inherit;
        }
      }
    }
  }

  &.nav-max {
    @include media-breakpoint-up(xl) {
      max-width: 365px;
    }
  }
}
